# Japanese analyzer server API config

# Gemini
GEMINI_API_URL=
GEMINI_API_KEY=

# DeepSeek
DEEPSEEK_API_URL=https://api.deepseek.com/anthropic
DEEPSEEK_API_KEY=sk-eda7de1fd7ad4cf580712500ea0e18e6

# Optional login password
CODE=
